In [1]:
# pip install pymongo

Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/42/0c/d2ad12aec55acdc4099134a8c87912d8fe01e2e1e5969b5d6c3485b99284/pymongo-4.3.3-cp37-cp37m-win_amd64.whl (382kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading https://files.pythonhosted.org/packages/12/86/d305e87555430ff4630d729420d97dece3b16efcbf2b7d7e974d11b0d86c/dnspython-2.3.0-py3-none-any.whl (283kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# 1. Развернуть у себя на компьютере/виртуальной машине/хостинге MongoDB и реализовать функцию, которая будет 
# добавлять только новые продукты в вашу базу.

In [30]:
from pymongo import MongoClient
import warnings

In [31]:
client = MongoClient('mongodb://localhost:27017/')

In [63]:
cars = [ {'name': 'Audi', 'price': 52642},
    {'name': 'Mercedes', 'price': 57127},
    {'name': 'Skoda', 'price': 9000},
    {'name': 'Volvo', 'price': 29000},
    {'name': 'Bentley', 'price': 350000},
    {'name': 'Citroen', 'price': 21000},
    {'name': 'Hummer', 'price': 41400},
    {'name': 'Volkswagen', 'price': 21600} ]

In [64]:
db=client.testdb

In [65]:
db.cars.insert_many(cars)

In [66]:
def put_car_if_doesnt_exist(cars_ref,new_cars):
    for new_car in new_cars:
        if(len(list(cars_ref.find({'name':new_car['name']})))==0):
            cars_ref.insert_one(new_car)

In [67]:
new_cars = [ {'name': 'Audi', 'price': 52642},
     {'name': 'Mercedes', 'price': 57127},
     {'name': 'Buggati', 'price': 89439},
     {'name': 'Pobeda', 'price': 571},
     {'name': 'Lada', 'price': 34}]

In [68]:
put_car_if_doesnt_exist(db.cars,new_cars)

In [69]:
cars=db.cars.find({},{'_id':0,'name':1})

In [70]:
for car in cars:
    print(car)

{'name': 'Audi'}
{'name': 'Mercedes'}
{'name': 'Skoda'}
{'name': 'Volvo'}
{'name': 'Bentley'}
{'name': 'Citroen'}
{'name': 'Hummer'}
{'name': 'Volkswagen'}
{'name': 'Buggati'}
{'name': 'Pobeda'}
{'name': 'Lada'}

In [60]:
db.cars.delete_many({})

In [ ]:
#  2.напишите запрос для поиска продуктов с рейтингом не ниже введенного или качеством не ниже введенного 
# (то есть цифра вводится одна, а запрос проверяет оба поля).

In [71]:
products=[
    {'name':'bread','total score':5,'rating':4},
    {'name':'sausage','total score':6,'rating':7},
    {'name':'milk','total score':3,'rating':1},
    {'name':'cheese','total score':4,'rating':8},
    {'name':'sour_creme','total score':9,'rating':8},
    {'name':'butter','total score':7,'rating':6},
    {'name':'meat','total score':2,'rating':3}
]

In [72]:
db.products.insert_many(products)

In [73]:
t_score = 4
r = 5

In [79]:
new_products = db.products.find({"total score" : {'$gte':t_score},"rating" : {'$gte':r}})

In [80]:
for pr in new_products:
    print(pr)

{'_id': ObjectId('63fcb4ef6fa2acaa74d3f4a6'), 'name': 'sausage', 'total score': 6, 'rating': 7}
{'_id': ObjectId('63fcb4ef6fa2acaa74d3f4a8'), 'name': 'cheese', 'total score': 4, 'rating': 8}
{'_id': ObjectId('63fcb4ef6fa2acaa74d3f4a9'), 'name': 'sour_creme', 'total score': 9, 'rating': 8}
{'_id': ObjectId('63fcb4ef6fa2acaa74d3f4aa'), 'name': 'butter', 'total score': 7, 'rating': 6}